* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_3 {
  width: 100%;
  height: 768px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_32 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 597px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_87 {
  width: 947px;
  height: 466px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 210px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v23_88 {
  width: 685px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 215px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v23_93 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_94 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_95 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 306px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_96 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_97 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_98 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 411px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_99 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 229px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v23_100 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 229px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_215 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 525px;
  left: 543px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_216 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 550px;
  left: 543px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_114 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 929px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_115 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 929px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_101 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 347px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_102 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 479px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_103 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 570px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_104 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 677px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_105 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 341px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_116 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 282px;
  left: 935px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_117 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 257px;
  left: 929px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_106 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 470px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_119 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 938px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_120 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 338px;
  left: 929px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_107 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 570px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_121 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 444px;
  left: 929px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_122 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 419px;
  left: 929px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_108 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 677px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_123 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 525px;
  left: 925px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v23_124 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 925px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_169 {
  width: 312px;
  height: 123px;
  background: url("../images/v23_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 222px;
  overflow: hidden;
}
.v23_43 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v23_44 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
}
.v23_45 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v23_46 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
}
.v23_47 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
}
.v23_48 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
}
.v23_49 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v23_50 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
}
.v23_51 {
  width: 8px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
}
.v23_52 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
}
.v23_53 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
}
.v23_54 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
}
.v23_55 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
}
.v23_56 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
}
.v23_57 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 102px;
}
.v23_58 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
}
.v23_59 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 116px;
}
.v23_60 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 126px;
}
.v23_61 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 132px;
}
.v23_62 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 140px;
}
.v23_63 {
  width: 8px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
}
.v23_64 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
}
.v23_65 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
}
.v23_66 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
}
.v23_67 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 176px;
}
.v23_68 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 184px;
}
.v23_69 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 190px;
}
.v23_70 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 198px;
}
.v23_71 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 206px;
}
.v23_72 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 210px;
}
.v23_73 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 220px;
}
.v23_74 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
}
.v23_75 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 232px;
}
.v23_76 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 242px;
}
.v23_77 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 250px;
}
.v23_78 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 258px;
}
.v23_79 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
}
.v23_80 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 272px;
}
.v23_81 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 280px;
}
.v23_82 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 286px;
}
.v23_83 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 296px;
}
.v23_84 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
}
.v23_85 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 308px;
}
.v23_86 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 108px;
  left: 104px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v23_170 {
  width: 312px;
  height: 123px;
  background: url("../images/v23_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 1025px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v23_171 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_172 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_173 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_174 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_175 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_176 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_177 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_178 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_179 {
  width: 8px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_180 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_181 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_182 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_183 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_184 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_185 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_186 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_187 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_188 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_189 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_190 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_191 {
  width: 8px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_192 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_193 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_194 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_195 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_196 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_197 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_198 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_199 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_200 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_201 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_202 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_203 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_204 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_205 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_206 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_207 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_208 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_209 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_210 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_211 {
  width: 6px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_212 {
  width: 2px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_213 {
  width: 4px;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 0px;
  transform: rotate(-90deg);
}
.v23_214 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 108px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  transform: rotate(-90deg);
}
.name {
  color: #fff;
}
.v25_33 {
  width: 169px;
  height: 49px;
  background: rgba(0,133,250,1);
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 601px;
  overflow: hidden;
}
.v25_36 {
  width: 23px;
  height: 23px;
  background: url("../images/v25_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 608px;
  overflow: hidden;
}
.v25_35 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v25_37 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 660px;
  left: 637px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_40 {
  width: 16px;
  height: 10px;
  background: url("../images/v25_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 735px;
  overflow: hidden;
}
.v25_39 {
  width: 16px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
